@page
@model With.ASP.NET.RazorPages.Pages.SignalR.IndexModel

<form

    hx-post="@Url.Page("Index")"
    hx-swap="none"
    hx-on::after-request="if(event.detail.successful) this.reset()">

    <input type="text" name="msg"/>
    <button type="submit">Send</button>

</form>

<hr />

<div hx-ext="signalr"
     signalr-connect="/messagehub"
     signalr-subscribe="spam">

    @await Html.PartialAsync("_Message", ("[None]", false, DateTimeOffset.MinValue))

</div>

<hr />

<partial name="_AntiForgery" />

<div style="display:table; margin-right:auto; margin-left:auto;">
    <img src="images/url.png" alt="The url"/>
</div>
