@page
@model With.ASP.NET.RazorPages.Pages.Examples.ClickToLoad.IndexModel

<table>
    <thead>
        <tr><th>Name</th><th>Email</th><th>ID</th></tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("_PagedAgents", (Model.InitialAgents, 0))
    </tbody>
</table>