@page
@model ContactsModel
@{
    Layout = null;
}

<form id="checked-contacts"
      hx-post="@Url.Page("Contacts")"
      hx-swap="outerHTML settle:3s"
      hx-target="#toast">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var contact in Model.Contacts)
            {
                <tr>
                    <td>@contact.Name</td>
                    <td>@contact.Email</td>
                    <td><input type="checkbox" @(contact.Active ? "checked=checked" : "") name="active_@(contact.Email)"></td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Bulk Update">

    <span id="toast"></span>
</form>

<style type="text/css">
    #toast.htmx-settling {
        opacity: 100;
    }

    #toast {
        background: #FC6A03;
        opacity: 0;
        transition: opacity 3s ease-out;
    }
</style>