@page
@model With.ASP.NET.RazorPages.Pages.Examples.LazyLoading.ResultModel
@{
    Layout = null;
}

<div hx-get="@Url.Page("Graph")" hx-trigger="load">
    <img alt="Result loading..." class="htmx-indicator" width="150" src="https://htmx.org/img/bars.svg" />
</div>