@page
@model IndexModel

<script src="https://unpkg.com/htmx.org@2.0.4"></script>

<div class="text-center">
    <h1 class="display-4" hx-get="@Url.Page("Index", "Orebro")" hx-swap="innerHTML">Hello Örebro</h1>

    <h1 class="display-4">Hello Stockholm</h1>

    <h1 class="display-4">Hello Tokyo</h1>

    <h1 class="display-4">Hello Sydney</h1>

    <h1 class="display-4">Hello Las Vegas</h1>
</div>

































@*
    hx-trigger="mouseenter once"
    hx-trigger="every 0.5s"
    hx-trigger="click[ctrlKey]"
    hx-trigger="click[ctrlKey&&shiftKey]"
    hx-trigger="delay:2s"
    hx-trigger="load delay:2s"
    hx-trigger="click delay:2s"
*@