@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    <li>
        <a href="@Url.PageLink("/Examples/ClickToEdit/Index")">ClickToEdit</a>
    </li>
    <li>
        <a href="@Url.PageLink("/Examples/BulkUpdate/Index")">BulkUpdate</a>
    </li>
</ul>
