@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="@Url.PageLink("/Examples/ClickToEdit/Index")">ClickToEdit</a>
<a href="@Url.PageLink("/Examples/ClickToLoad/Index")">ClickToLoad</a>
