@page "{currentPage=0}"
@model With.ASP.NET.RazorPages.Pages.Examples.ScrollToLoad.AgentsModel
@{
    Layout = null;
}

<table hx-indicator=".htmx-indicator">
    <thead>
    <tr><th>Name</th><th>Email</th><th>ID</th></tr>
    </thead>
    <tbody>
    @await Html.PartialAsync("_PagedAgents", (Model.InitialAgents, 0))
    </tbody>
</table>
<img class="htmx-indicator" width="60" src="https://htmx.org/img/bars.svg">