@model With.ASP.NET.RazorPages.Pages.Examples.EditRow.Data.Person

<tr>
    <td>@Model.Name</td>
    <td>@Model.Email</td>
    <td>
        <button hx-get="@Url.PageLink("Index", "Edit", values: new { id = Model.Id })"
                hx-trigger="edit"
                onclick="confirmEdit(this)">
            Edit
        </button>
    </td>
</tr>
