@page "{id=-1}/{action=view}"
@model With.ASP.NET.RazorPages.Pages.Examples.EditRow.IndexModel
@{
    var id = int.Parse(Request.RouteValues["id"]!.ToString()!);
}

<table class="table delete-row-example">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody hx-target="closest tr"
           hx-swap="outerHTML">
        @foreach (var contact in Model.People)
        {
            @await Html.PartialAsync("_View", contact)
        }
    </tbody>
</table>

<partial name="_AntiForgery" />

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    function confirmEdit(el) {
        let self = el
        let editing = document.querySelector('.editing')
        if (editing) {
            Swal.fire({
                title: 'Already Editing',
                showCancelButton: true,
                confirmButtonText: 'Yep, Edit This Row!',
                text: 'Hey! You are already editing a row! Do you want to cancel that edit and continue?',
                showClass: {
                    popup: ''
                }
            })
                .then((result) => {
                    if (result.isConfirmed) {
                        htmx.trigger(editing, 'cancel')
                        htmx.trigger(self, 'edit')
                    }
                })
        } else {
            htmx.trigger(self, 'edit')
        }
    }
</script>